.navbar {
  position: absolute;
  left: 0;
  padding: 25px 30px;
  width: 100%;
  display: flex;
  background-color: rgba(0,0,0,0.8);
  z-index: 999;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-collapse {
  z-index: 6999 !important;
}

.navbar-item {
  text-align: center;
  flex: 1;
  list-style-type: none;
}

.navbar-item a, .ant-menu a {
  color: rgba(255,255,255,0.8);
}

.navbar-item a:hover, .navbar-item a:active, .navbar-item a:focus, .ant-menu a:hover, .ant-menu a:active, .ant-menu a:focus {
  color: rgba(255,255,255,1);
  text-decoration: none;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #2F2F2F;
}

.content div {
  height: 100%;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: opacity 250ms ease-in;
}

.ant-carousel {
  height: 100% !important;
}

.ant-carousel .slick-slide {
  text-align: center;
  background: #364d79;
  overflow: hidden;
  height: 100% !important;
}

.home-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ant-carousel .slick-dots {
  bottom: 66px !important;
}

.nav-logo {
  margin: -18px 0 -12px 0;
  height: 38px;
}

.nav-logo-collapse {
  z-index: 999;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 9px 0;
  background-color: rgba(0,0,0,0.85);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-logo-collapse img {
  height: 100%;
}

.carousel-container {
  text-align: center;
  height: 100%;
}

.carousel-title {
  font-size: 72px;
  color: rgba(255,255,255,0.9);
  position: fixed;
  top: 36%;
  width: 100%;
}

.carousel-subtitle {
  font-size: 18px;
  color: rgba(255,255,255,0.5);
  position: fixed;
  top: 53%;
  width: 100%;
  height: auto !important;
}
.home-footer {
  font-size: 11px;
  position: fixed;
  bottom: 10px;
  color: rgba(255,255,255,0.4);
  height: auto !important;
  width: 100%;
  font-weight: 100;
}
.footer {
  height: auto !important;
  width: 100%;
  font-size: 11px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 5px;
}
.carousel-subtitle p{
  max-width: 690px;
  margin-left: auto;
  margin-right: auto;
}

.ant-layout-sider-zero-width-trigger {
  top: 16px !important;
  height: 63px !important;
  width: 54px !important;
  right: -54px !important;
  font-size: 27px !important;
  padding-top: 10px !important;
}

.coming-soon {
  height: 100%;
  width: 100%;
  padding-top: 30%;
  text-align: center;
  font-size: 72px;
  background-color: rgba(0,0,0,0.8);
}
.green {
  color: #4EAE4A;
}
.blue {
  color: #36A2C8;
}
.bg-white {
  background-color: #FFFFFF;
}
.content-page {
  min-height: 100%;
  padding-top: 80px;
}
.content-page div {
  height: auto;
}
.gallery-container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
.gallery-card {
  width: 300px;
  height: 300px !important;
  border-radius: 8px;
  background-color: #f5f5f5;
  margin: 10px;
  background-image: url('https://s3-ap-southeast-1.amazonaws.com/www.gtop.asia/static/media/bg-1.f75533d1.png');
  background-size: cover;
  padding: 30px;
}
.gallery-card h2 {
  color: rgba(255,255,255,0.9);
  margin-top: 180px;
}
.gallery-card span {
  background-color: rgba(0,0,0,0.4);
  color: rgba(255,255,255,0.5);
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: -5px;
}
.ant-modal {
  width: 80% !important;
}

@media screen and (max-width: 992px) {
  .lg-display {
    display: none;
  }
  .carousel-title {
    font-size: 60px;
  }
  .carousel-subtitle {
    font-size: 14px;
  }
  .carousel-subtitle p{
    max-width: 580px;
  }
  .navbar {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-title {
    font-size: 54px;
  }
  .carousel-subtitle {
    font-size: 12px;
  }
  .carousel-subtitle p{
      max-width: 500px;
    }
  .md-none {
    display: none;
  }
  .coming-soon {
    font-size: 36px;
  }
}

@media screen and (max-width: 576px) {
  .carousel-title {
    font-size: 48px;
  }
  .carousel-subtitle {
    font-size: 12px;
  }
  .carousel-subtitle p{
    max-width: 480px;
  }
}

@media screen and (max-width: 480px) {
  .carousel-title {
    font-size: 28px;
  }
  .carousel-subtitle {
    font-size: 12px;
  }
  .carousel-subtitle p{
    max-width: 330px;
  }
  .nav-logo-collapse {
    padding: 12px 0;
  }
  .ant-layout-sider-zero-width-trigger {
    top: 12px !important;
  }
}

@media screen and (min-width: 769px) {
  .md-only {
    display: none;
  }
}


/* Contact Page */

.banner {
  background-color: #2F2F2F;
  width: 100%;
  height: 400px !important;
  text-align: center;
  padding-top: 170px;
}
.banner h1 {
  font-size: 36px;
  color: rgb(255,255,255);
}
.banner h3 {
  color: rgba(255,255,255,0.8);
  font-weight: 300;
}
.contact-cards-container {
  width: 100%;
  display: flex;
  height: auto !important;
}
.contact-card-container {
  width: 50%;
}
.left-card, .right-card {
  width: 360px;
  text-align: center;
  margin-top: 50px;
}
.left-card {
  float: right;
  margin-right: 30px;
}
.right-card {
  margin-left: 30px;
}
.contact-icon-lg {
  font-size: 72px;
  line-height: 80px;
  margin-bottom: 30px;
}
.contact-card-container h3 {
  margin-bottom: 40px;
}
.contact-card-container p {
  font-size: 16px;
}
.mail-icon, .location-icon {
  font-size: 20px;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .contact-cards-container {
    display: block;
  }
  .contact-card-container {
    width: 100%;
  }
  .left-card {
    float: none;
  }
  .left-card, .right-card {
    margin-left: auto;
    margin-right: auto;
  }
  .banner {
    height: 300px !important;
    padding-top: 130px;
  }
  .banner h1 {
    font-size: 32px;
  }
  .banner h3 {
    font-size: 14px;
  }
  .footer {
    margin-top: 50px;
  }
}

@media screen and (max-width: 576px) {
  .banner {
    height: 280px !important;
    padding-top: 130px;
  }
  .banner h1 {
    font-size: 24px;
  }
  .banner h3 {
    font-size: 12px;
  }
  .contact-icon-lg {
    font-size: 48px;
    margin-bottom: 10px;
  }
  .contact-card-container h3 {
    margin-bottom: 20px;
  }
  .contact-card-container p {
    font-size: 14px;
  }
  .mail-icon, .location-icon {
    font-size: 16px;
    margin-right: 20px;
  }
  .left-card, .right-card {
    margin-top: 30px;
  }
  .footer {
    margin-top: 30px;
  }
}